/* Adopted from https://github.com/catppuccin/prismjs */
/* https://prismjs.com/tokens.html */

code {
	color: var(--text);
}

.token.keyword {
	color: var(--blue);
}

.token.builtin {
	color: var(--red);
}

.token.namespace,
.token.class-name {
	color: var(--teal);
}

.token.function {
	color: var(--yellow);
}

.token.boolean,
.token.number {
	color: var(--sapphire);
}

.token.string,
.token.char {
	color: var(--peach);
}

.token.symbol {
	color: var(--yellow);
}

.token.regex {
	color: var(--pink);
}

.token.url {
	color: var(--green);
}

.token.operator {
	color: var(--sky);
}

.token.variable {
	color: var(--text);
}

.token.constant {
	color: var(--blue);
}

.token.property {
	color: var(--blue);
}

.token.punctuation {
	color: var(--overlay2);
}

.token.important {
	color: var(--mauve);
}

.token.comment {
	color: var(--overlay2);
}

.token.tag {
	color: var(--blue);
}

.token.attr-name {
	color: var(--yellow);
}

.token.attr-value {
	color: var(--green);
}

.token.prolog,
.token.doctype {
	color: var(--mauve);
}

.token.cdata {
	color: var(--teal);
}

.token.entity {
	color: var(--red);
}

.token.atrule {
	color: var(--mauve);
}

.token.selector {
	color: var(--blue);
}

/* Diff */

.token.deleted {
	color: var(--red);
}

.token.inserted {
	color: var(--green);
}

/* Other */

.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}
